<html lang="en">

{% include 'head.html' %}

<body class="bg-light">
    <div class="d-flex flex-column border justify-content-center w-50 m-auto mt-5">
        <h2 class="text-center">{{competition['name']}}</h2>
        <p class="text-center">Places available: {{competition['numberOfPlaces']}}</p>
        <form class="d-flex flex-column justify-content-center w-50 m-auto" action="/purchase-places" method="post">
            <input class="form-control w-50 m-auto" type="hidden" name="club" value="{{club['name']}}">
            <input class="form-control w-50 m-auto" type="hidden" name="competition" value="{{competition['name']}}">
            <label for="places" class="text-center">How many places?</label>
            <input class="form-control w-50 m-auto mt-2" type="number" name="places" id="places" />
            <button class="btn btn-primary w-25 m-auto mt-2 mb-2" type="submit">Book</button>
        </form>
    </div>
    {% include 'messages.html' %}
</body>

</html>
