<html lang="en">
{% include 'head.html' %}
<body class="bg-light">
    <h1 class="text-center mt-3">Welcome to the GUDLFT Registration Portal!</h1>
    <form class="d-flex flex-column justify-content-center border w-50 m-auto" action="show-summary" method="post">
        <p class="text-center m-3 fw-bold">Please enter your secretary email to continue</p>
            <input class="form-control w-50 m-auto" type="email" name="email"
                   placeholder="Enter your email..."/>
            <button class="btn btn-primary w-25 m-auto mt-2 mb-2" type="submit">Enter</button>
            <a class="btn btn-primary w-25 m-auto mt-2 mb-2" href="{{ url_for('view_club_points') }}">List of clubs</a>
    </form>
    {% include 'messages.html' %}
</body>
</html>
